.family__detail {
  &__container {
    padding: 0 24px;

    .table__container {
      height: 100%;
      overflow-y: auto;
      overflow-x: auto;

      &::-webkit-scrollbar {
        width: 2px;
      }

      .table {
        width: 100%;
        border-collapse: collapse;
        overflow: hidden;

        th {
          background: whitesmoke;
          border: 1px solid #ddd;
          padding: 8px;
          text-align: center;

          &[data-required=true] {
            &::after {
              content: "*";
              color: red;
              padding-left: 6px;
              font-size: 14px;
            }
          }

          &:last-child {
            min-width: 70px !important;
          }
        }

        &__cell {
          border: 1px solid #ddd;

          &__centered {
            text-align: center;
          }

          .delete__row__button {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            background-color: transparent;
            border: none;
            cursor: pointer;

            svg {
              width: 16px;
              height: 16px;

              &:hover {
                fill: red;
              }
            }
          }

          select {
            border: none;
            padding: 10px;
          }
        }
      }
    }
  }
}

.input,
.select {
  border: none !important;
  padding: 10px !important;
}

@media screen and (max-width: 576px) {
  .family__detail {
    &__container {
      margin: 0 12px;
      padding: 20px;
    }
  }
}

.error {
  color: red;
  font-size: 12px;
  margin-left: 12px;
  vertical-align: middle;
}

.saved {
  font-weight: 400;
  font-size: 12px;
  margin-left: 12px;
  vertical-align: middle;
  background-color: rgb(233, 233, 233);
  border-radius: 6px;
  padding: 8px;
}

.table__actions {
  display: flex;
  gap: 12px;

  &__save {
    background-color: rgb(218, 218, 218);
    color: black;
    font-weight: 600;
  }

  &__close {
    background-color: white;
    border: 1px solid gray;
    color: black;
  }
}