.submit__button{
    margin-left: 48px;
    padding: 12px 20px;
    border: none;
    background-color: #00c6ff;
    cursor: pointer;
    color: white;
    border-radius: 8px;
    margin-bottom: 40px;
}